{% extends 'base.html' %}

{% block content %}
<div>
    <select>
        <option value="organization">Organization</option>
        <option value="company">Company</option>
        <option value="departments">Departments</option>
        <option value="employee">Employee</option>
        <option value="erproles">ERPRoles</option>
        <option value="project">Project</option>
        <option value="projectteam">ProjectTeam</option>
        <option value="supplierclass">SupplierClass</option>
        <option value="supplier">Supplier</option>
        <option value="partprefix">PartPrefix</option>
        <option value="partsuffix">PartSuffix</option>
        <option value="partnumbersequence">PartNumberSequence</option>
        <option value="parts">Parts</option>
        <option value="serialnumber">SerialNumber</option>
        <option value="inventory">Inventory</option>
        <option value="orders">Orders</option>
        <option value="ordergroup">OrderGroup</option>
    </select>
</div>

<table>
    <tr>
        <th></th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>


{% endblock %}