{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FreeERP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>FreeERP{% if organizations.organization_name %} -{{ organizations.organization_name }} {% endif %} {% if companies.company_abbreviation %} -{{ companies.company_abbreviation }} {% endif %} </h1>
        <nav>
            <ul>
                <button onclick="location.href='{% url 'home' %}'">Home</button>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page content will be inserted here -->
        {% endblock %}
    </main>
</body>

<footer>
    <p>&copy; 2024 FreeERP. All rights reserved.</p>
</footer>
</html>