{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Inventory</h1>
    <div class="button-container">
        <button onclick="location.href='#'">Parts</button>
        <button onclick="location.href='#'">Create Parts</button>
        <button onclick="location.href='#'">Create Part Number</button>
        <button onclick="location.href='#'">Current Inventory</button>
        <button onclick="location.href='#'">Work In Progress</button>
        <button onclick="location.href='#'">Finished Goods</button>
        <button onclick="location.href='#'">MRB</button>
        <button onclick="location.href='{% url 'suppliers' %}'">Suppliers</button>
    </div>
</div>
{% endblock %}