{% extends 'base.html' %}

{% block content %}
<div>
    <select id="add-select">
        <option value="project">Project</option>
        <option value="project-team">Project Team</option>

    </select>
</div>
<button id="add-btn">Add</button>



<div class="project-info" id="project">
    <table class="project-table" id="project-table">
        <tr>
            <th>Active</th>
            <th>Project Name</th>
            <th>Project Abbreviation</th>
            <th>Project ID</th>
            <th>Project Description</th>
            <th>Start Date</th>
            <th>Projected End Date</th>
            <th>Project Manager</th>
            <th>Notes</th>
            <th>Status</th>

            
            
        </tr>
        {% for project in projects %}
        <tr>
            <td><input type="checkbox" {% if project.active %}checked{% endif %} disabled></td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.project_abbreviation }}</td>
            <td>{{ project.project_id }}</td>
            <td>{{ project.project_description }}</td>
            <td>{{ project.project_start_date }}</td>
            <td>{{ project.project_projected_end_date }}</td>
            <td>{{ project.project_manager }}</td>
            <td>{{ project.project_notes }}</td>
            <td>{{ project.project_status }}</td>


            
        </tr>
        {% endfor %}
    </table>
</div>


<!------ New User Modal------->
<div id="add-project-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add Project</h2>
        <form id="add-user-form" method="post">
            {% csrf_token %}
            {{ project_form }}
            <button type="submit" value="project-form" name="form-submit">Submit</button>
        </form>
    </div>
</div>

<div id="add-project-team-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add Project Team</h2>
        <form id="add-project-team-form" method="post">
            {% csrf_token %}
            {{ project_team_form }}
            <button type="submit" value="project-team-form" name="form-submit">Submit</button>
        </form>
    </div>
</div>

<script>
    //open the modal based on the selected option
    document.getElementById('add-btn').addEventListener('click', function() {
        if (document.getElementById('add-select').value == 'project') {
            document.getElementById('add-project-modal').style.display = 'block';

        } else if (document.getElementById('add-select').value == 'project-team') {
            document.getElementById('add-project-team-modal').style.display = 'block';
        }
        }
    );

    //close the modal
    document.querySelectorAll('.modal .close').forEach(function(element) {
    element.onclick = function() {
        element.closest('.modal').style.display = 'none';
        }
    });

    window.onclick = function(event) {
    if (event.target.classList.contains('modal')) {
        event.target.style.display = 'none';
        }
    }
        
    </script>
    {% endblock %}